body{
    background-color: blue;
}
.main-container{
text-align: center;
background-color: black;
margin-top: 20%;
padding: 30px;
margin-right: 450px;
margin-left: 450px;
border-radius: 10px;
}
.age-boxes {
            display: flex;
            gap: 20px;
            margin-top: 20px;
            margin-left: 480px;

            
        }
.age-box {
            
            padding: 8px;
            width: 100px;
            height: 100px;
            text-align: center;
            color: white;
            background-color: black;
            border-radius: 10px;
 }
        